In [1]:
import pandas as pd
import numpy as np

In [42]:
interact = pd.read_csv ("C:/Users/m218101/Desktop/WBS_Coding_school/Course/Statistics/data/Interact/interact.csv")
connect = pd.read_csv ("C:/Users/m218101/Desktop/WBS_Coding_school/Course/Statistics/data/Connect/connect.csv")
services = pd.read_csv ("C:/Users/m218101/Desktop/WBS_Coding_school/Course/Statistics/data/Services/services.csv")
learn = pd.read_csv ("C:/Users/m218101/Desktop/WBS_Coding_school/Course/Statistics/data/Learn/learn.csv")
helpit = pd.read_csv ("C:/Users/m218101/Desktop/WBS_Coding_school/Course/Statistics/data/Help/helpit.csv")

In [19]:
interact.head(5)

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,128,area,Montana State University - Home,1291,False,Homepage Version 1 - Interact • http://www...
1,69,a,FIND,842,True,created 5-29-2013 • 20 days 4 hours 21 min...
2,61,input,s.q,508,True,NaN
3,67,a,lib.montana.edu/find/,166,True,NaN
4,78,a,REQUEST,151,True,NaN

In [20]:
interact = interact.rename(columns={"Snapshot information": "s_info"})

In [24]:
interact.s_info.unique()

array(['Homepage Version 1 - Interact   •   http://www.lib.montana.edu/index.php',
       'created 5-29-2013   •   20 days 4 hours 21 mins   •   10283 visits, 3714 clicks',
       nan], dtype=object)

In [ ]:
Click-through rate (CTR) for the homepage. Amount of clicks on the button divided by the total visits to the page. 
Selected as a measure of the initial ability of the category title to attract users.

In [36]:
interact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ElementID  69 non-null     int64
 1   Tagname    69 non-null     object
 2   Name       69 non-null     object
 3   Noclicks   69 non-null     int64
 4   Visible?   69 non-null     bool
 5   s_info     2 non-null      object
dtypes: bool(1), int64(2), object(3)
memory usage: 2.9+ KB

In [50]:
interact.columns = interact.columns.str.replace(' ','')
interact.columns = interact.columns.str.replace('.','')

C:\Users\m218101\AppData\Local\Temp\ipykernel_6760\704666939.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  interact.columns = interact.columns.str.replace('.','')

In [51]:
interact.head(0)

Empty DataFrame
Columns: [ElementID, Tagname, Name, Noclicks, Visible?, Snapshotinformation]
Index: []

In [52]:
interact['Noclicks'].sum()

3714

In [54]:
CTR_interact = (interact['Noclicks'].sum())/10283
CTR_interact # Click-through rate (CTR)

0.36117864436448505

In [43]:
connect.columns = connect.columns.str.replace(' ','')
connect.columns = connect.columns.str.replace('.','')

C:\Users\m218101\AppData\Local\Temp\ipykernel_6760\4279013200.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  connect.columns = connect.columns.str.replace('.','')

In [45]:
connect.Snapshotinformation.unique()

array(['Homepage Version 2 - Connect   •   http://www.lib.montana.edu/index2.php',
       'created 5-29-2013   •   20 days 7 hours 34 mins   •   2742 visits, 1587 clicks',
       nan], dtype=object)

In [55]:
CTR_connect = (connect['Noclicks'].sum())/2742
CTR_connect # Click-through rate (CTR)

0.5787746170678337

In [56]:
helpit.columns = helpit.columns.str.replace(' ','')
helpit.columns = helpit.columns.str.replace('.','')
services.columns = services.columns.str.replace(' ','')
services.columns = services.columns.str.replace('.','')
learn.columns = learn.columns.str.replace(' ','')
learn.columns = learn.columns.str.replace('.','')

C:\Users\m218101\AppData\Local\Temp\ipykernel_6760\360427398.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  helpit.columns = helpit.columns.str.replace('.','')
C:\Users\m218101\AppData\Local\Temp\ipykernel_6760\360427398.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  services.columns = services.columns.str.replace('.','')
C:\Users\m218101\AppData\Local\Temp\ipykernel_6760\360427398.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  learn.columns = learn.columns.str.replace('.','')

In [57]:
helpit.Snapshotinformation.unique()

array(['Homepage Version 4 - Help   •   http://www.lib.montana.edu/index4.php',
       'created 5-29-2013   •   20 days 4 hours 59 mins   •   3180 visits, 1717 clicks',
       nan], dtype=object)

In [73]:
CTR_helpit = (helpit['Noclicks'].sum())/3180
CTR_helpit # Click-through rate (CTR)

0.539937106918239

In [59]:
services.Snapshotinformation.unique()

array(['Homepage Version 5 - Services   •   http://www.lib.montana.edu/index5.php',
       'created 5-29-2013   •   20 days 4 hours 59 mins   •   2064 visits, 1348 clicks',
       nan], dtype=object)

In [70]:
CTR_services = (services['Noclicks'].sum())/2064
CTR_services # Click-through rate (CTR)

0.6531007751937985

In [61]:
learn.Snapshotinformation.unique()

array(['Homepage Version 3 - Learn   •   http://www.lib.montana.edu/index3.php',
       'created 5-29-2013   •   20 days 12 hours 21 mins   •   2747 visits, 1652 clicks',
       nan], dtype=object)

In [69]:
CTR_learn = (learn['Noclicks'].sum())/2747
CTR_learn # Click-through rate (CTR)

0.6013833272661084

In [75]:
CTR_services, CTR_learn, CTR_connect, CTR_helpit, CTR_interact
#visits: 2064,   2747,      2743,        3180,       10283

(0.6531007751937985,
 0.6013833272661084,
 0.5787746170678337,
 0.539937106918239,
 0.36117864436448505)

In [ ]:
But, are these differences significant? see in notheboook Montana_library_scipy_9steps.ipynb

In [67]:
helpit = pd.read_csv ("C:/Users/m218101/Desktop/WBS_Coding_school/Course/Statistics/data/Help/helpit.csv")

In [68]:
helpit.columns = helpit.columns.str.replace('.','',regex=True)

In [72]:
helpit.columns = helpit.columns.str.replace(' ','')